//Menu
.menu-items {
    width: 224px;
    .menu-item {
        margin-left: 0px;
        justify-content: left;
    }
}
.menu-item {
    width: 100%;
    justify-content: flex-end;
    height: 46px;
    border-radius: 0;
    padding-left: 16px;
    font-weight: 500;
    color: var(--text-color);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
